doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
  body
    #main
      block header 
        include ./partials/header.jade
      
      .container
        block content
    
    script(src="/js/bootstrap.min.js")
      

